{% extends "Homepage/base.html" %}

{% block content %}

<div class="container index-body bg-dark text-light pt-4  h-auto  content">

    <div class="row">
        <div class="col-lg-4 m-4">
            <div style="background: linear-gradient(135deg, rgba(25,196,224,1) 0%, rgba(101,153,249,0.938813025210084) 100%);
        ;border-radius:10px;" class="card border-left-primary shadow  py-2">
                <div class="card-body text-dark">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <a style="color: blue;font-size:55px;font-weight: bolder;" class="stretched-link"
                                href="/1/">6ᵗʰ</a>
                            <label class=" text-2xl">Class</label>
                        </div>

                        <div class="col-auto">
                            <span style="font-size: 15px;padding: 20px;border-radius: 10px;"
                                class="label label-danger">STUDENTS :
                                {{student_6}}
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <div class="col-lg-4 m-4">
            <div style="background: linear-gradient(135deg, rgba(25,196,224,1) 0%, rgba(101,153,249,0.938813025210084) 100%);
        ;border-radius:10px;" class="card border-left-primary shadow  py-2">
                <div class="card-body text-dark">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <a style="color: blue;font-size:55px;font-weight: bolder;" class="stretched-link"
                                href="/2/">7ᵗʰ</a>
                            <label class=" text-2xl">Class</label>
                        </div>

                        <div class="col-auto">
                            <span style="font-size: 15px;padding: 20px;border-radius: 10px;"
                                class="label label-danger">STUDENTS :
                                {{student_7}}
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <div class="col-lg-4 m-4">
            <div style="background: linear-gradient(135deg, rgba(25,196,224,1) 0%, rgba(101,153,249,0.938813025210084) 100%);
        ;border-radius:10px;" class="card border-left-primary shadow  py-2">
                <div class="card-body text-dark">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <a style="color: blue;font-size:55px;font-weight: bolder;" class="stretched-link"
                                href="/3/">8ᵗʰ</a>
                            <label class=" text-2xl">Class</label>
                        </div>

                        <div class="col-auto">
                            <span style="font-size: 15px;padding: 20px;border-radius: 10px;"
                                class="label label-danger">STUDENTS :
                                {{student_8}}
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <div class="col-lg-4 m-4">
            <div style="background: linear-gradient(135deg, rgba(25,196,224,1) 0%, rgba(101,153,249,0.938813025210084) 100%);
        ;border-radius:10px;" class="card border-left-primary shadow  py-2">
                <div class="card-body text-dark">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <a style="color: blue;font-size:55px;font-weight: bolder;" class="stretched-link"
                                href="/4/">9ᵗʰ</a>
                            <label class=" text-2xl">Class</label>
                        </div>

                        <div class="col-auto">
                            <span style="font-size: 15px;padding: 20px;border-radius: 10px;"
                                class="label label-danger">STUDENTS :
                                {{student_9}}
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <div class="col-lg-4 m-4">
            <div style="background: linear-gradient(135deg, rgba(25,196,224,1) 0%, rgba(101,153,249,0.938813025210084) 100%);
        ;border-radius:10px;" class="card border-left-primary shadow  py-2">
                <div class="card-body text-dark">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <a style="color: blue;font-size:55px;font-weight: bolder;" class="stretched-link"
                                href="/5/">10ᵗʰ</a>
                            <label class=" text-2xl">Class</label>
                        </div>

                        <div class="col-auto">
                            <span style="font-size: 15px;padding: 20px;border-radius: 10px;"
                                class="label label-danger">STUDENTS :
                                {{student_10}}
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>


{% endblock %}